@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

#contenedor{
    width: 80vh;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 30px solid #332719;
}

#titulo{
    text-align: center;
    background-color: #E1DFB6;
    font-size: 1.5em;
}

#imagen img{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

#pelicula{
    display: flex;
    justify-content: center;
    background-color: #E1DFB6;
    padding: 10px;
}

#pelicula p{
    font-size: 1.5em;
    font-weight: 600;
    color: #7A9244;
    margin-left: 5px;
}

.descri{
    display: flex;
    font-size: 20px;
    padding: 10px;
    background-color: #5C452D;
}

.descri div{
    justify-content: space-between;
    color: #E1DFB6;
    text-align: left;
}

.descri div h3{
    color: #7A9244
}

#descripcion{
    width: 65%;
    border-right:2px solid #332719;
}

#fecha{
    margin-left: 10px;
}

#lugar{
    text-align: center;
    background-color: #E1DFB6;
    padding: 10px;
}

.botones{
    display: flex;
}

.botones div{
    justify-content: space-around;
    padding: 15px;
    width: 50%;
    text-align: center;
    font-weight: 600;
}

#acep{
    background-color: #7A9244;
}

#neh{
    background-color: #5C452D;
    color: #E1DFB6;
}




